{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1> Aplicações </h1>
<p>
    Alguns passaportes passaram a ter RFID com assinatura digital, para fazer a identificação única do
passageiro e armazenar informações como nome, endereço e data de nascimento.
Um importante uso de RFID é nas transações financeiras. Atualmente, a maioria dos cartões de crédito,
vários celulares e outros dispositivos oferecem o serviço de pagamento por aproximação que usa RFID.
No entanto, os usuários deste sistema estão deixando um rastro de dados atrás deles (Alpert 1995); os
tribunais de divórcio usaram informações do transponder da rodovia para descobrir onde cônjuges têm
viajado (Wood 2004). cassinos estão incorporando fichas e cartões com tags para estudar o
comportamento de apostas dos jogadores e prevenir trapaça (Jarvis 2005).
    Além das mercadorias de varejo, as tags RFID também foram adicionadas a dispositivos de transporte,
como cartões de pedágio de rodovias e passes de metrô. Devido à sua capacidade de armazenar dados
de forma tão eficiente, as etiquetas RFID podem tabular o custo de pedágios e tarifas e deduzir o custo
eletronicamente da quantia de dinheiro que o usuário coloca no cartão. Em vez de esperar para pagar um
pedágio em um posto de pedágio ou desembolsar moedas em um balcão de fichas, os passageiros usam
passes com chip RFID como cartões de débito.
    Em 14 de agosto de 2006, o Departamento de Estado dos EUA começou a emitir passaportes eletrônicos,
ou e-passaportes. Impulsionado pelos ataques terroristas de 11 de setembro de 2001, o Departamento de
Segurança Interna (DHS) propôs o passaporte eletrônico como uma medida de segurança para viagens
aéreas, segurança nas fronteiras e procedimentos alfandegários mais eficientes nos aeroportos dos
Estados Unidos. Os recursos de segurança aprimorados do passaporte eletrônico - um número de
identificação com chip, assinatura digital e fotografia que atua como um identificador biométrico - tornam o
passaporte impossível de ser falsificado.
    Existe a possibilidade do uso de tags e chips RFID em humanos para realizar o monitoramento e
localização. Os dispositivos podem conter um número de identificação e se conecta a um banco de dados
com informações médicas e de contato. Isso é especialmente útil no caso de crianças e pacientes com
problemas médicos sérios, como Alzheimer, e em casos de desaparecimento de pessoas.
A tecnologia pode reduzir erros médicos quando usada para localizar remédios e instrumentos cirúrgicos,
podendo promover um atendimento mais rápido e evitando, por exemplo, que utensílios sejam deixados
dentro de pacientes.
</p>
{% endblock %}