{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1> Bibliografia </h1>
<p>[1] - HowStuffWorks. RFID - Radio Frequency Identification. Disponível em: https://electronics.howstuffworks.com/gadgets/high-tech-gadgets/rfid.htm. Acesso em: 5 jun. 2023.</p>
<p>[2] - HowStuffWorks. The Difference Between RFID and NFC. Disponível em: https://electronics.howstuffworks.com/difference-between-rfid-and-nfc.htm. Acesso em: 5 jun. 2023.
</p>
<p>[3] - YouTube. RFID: A Revolution in Technology. Disponível em: https://www.youtube.com/watch?v=Ukfpq71BoMo. Acesso em: 5 jun. 2023.</p>

<p>[4] - WIKIPEDIA. Identificação por radiofrequência. Disponível em: https://pt.wikipedia.org/wiki/Identifica%C3%A7%C3%A3o_por_radiofrequ%C3%AAncia. Acesso em: 5 jun. 2023.</p>
<p>[5] - R. Want, "An introduction to RFID technology", IEEE Pervasive Computing, vol. 5, no. 1, pp. 25-33, Jan.-March 2006.
</p>
<p>[6] - R. Want, "Enabling Ubiquitous Sensing with RFID", Computer, vol. 37, no. 4, pp. 84-86, 2015.
</p>
<p>[7] - BURR, C.; KING, K.; SCHMIDT, A.; WHITNEY, P. Chips, tags and scanners: Ethical challenges for radio frequency identification. Ethics and Information Technology, v. 9, n. 2, p. 101-109, Jun. 2007.</p>
<p>[8] - MARIA, N. RFID chips and EU e-passports: the end of privacy? In: International conference on information law and ethics, 2012.</p>
<p>[9] - D.B. Wood. Radio ID Tags Proliferate, Stirring Privacy Debate. The Christian Science Monitor, December 15, 2004.
</p>
<p>[10] - Pinheiro, J. M. S. (2006): “Identificação por Radiofreqüência: Aplicações e Vulnerabilidades da Tecnologia RFID”. Caderno UniFOA, Volta Redonda, ano 1, n. 2. Disponível em: <http://www.unifoa.edu.br/cadernos/edicao/02/18.pdf>. Acessado em: 15 Jun. 2023.</p>

{% endblock %}