{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1> Funcionamento </h1>
<p>
    Identificação por radiofrequência ou RFID (do inglês "Radio-Frequency IDentification") é um método de
identificação automática através de sinais de rádio, recuperando e armazenando dados remotamente através
de dispositivos denominados etiquetas RFID.
Uma etiqueta ou tag RFID é um transponder, pequeno objeto que pode ser colocado em uma pessoa, animal,
equipamento, embalagem ou produto, dentre outros. Contém chips de silício e antenas que lhe permite
responder aos sinais de rádio enviados por uma base transmissora. Além das etiquetas passivas, que
respondem ao sinal enviado pela base transmissora, existem ainda as etiquetas ativas, dotadas de bateria,
que lhes permite enviar o próprio sinal. São bem mais caras que do que as etiquetas passivas.
</p>
{% endblock %}