{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1> Objetivo </h1>
<p>
    O objetivo do RFID (Radio Frequency Identification) é permitir a identificação automática e única de objetos, pessoas
ou animais por meio de radiofrequência. A tecnologia RFID tem como propósito principal substituir métodos manuais
de identificação, como códigos de barras ou etiquetas visuais, por um sistema automatizado que permite a
identificação rápida, precisa e sem contato físico.
</p>
{% endblock %}