{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1></h1>
<h3>Como a tecnologia RFID poderia ser usada para organizar feiras e eventos?</h3>
<p> Ela pode ser usada no controle de acesso e identificação, rastreamento de produtos e coleta e análise de dados de participação.</p>
<p> 1.Controle de acesso e identificação: Tags RFID podem ser usadas em crachás para fazer o registro dos participantes, autorizar seu acesso a certas áreas e rastrear sua presença para entender as preferências do seu público. O uso das tags também agiliza a entrada das pessoas e pode ser usada para organizar filas, atribuindo a cada pessoa uma senha virtual.</p>
<p> 2.Rastreamento de produtos: Em eventos com estandes de exposição, as tags RFID podem ser anexadas a produtos promocionais, permitindo rastrear o interesse dos participantes e coletar dados valiosos sobre as preferências dos visitantes.</p>
<p> 3.Interação personalizada: A tecnologia RFID pode promover interações personalizadas com os participantes ao ler as informações presentes nas tags que carregam. Seria possível mostrar informações relevantes, ofertas especiais ou convites para sessões específicas.
</p>
<p> 4.Coleta e análise de dados: Os dados coletados pelas tags poderiam ser usados para melhorar a organização futura do evento. Informações como o tempo que os participantes passaram em cada seção, as áreas mais visitadas e padrões de motivação poderiam ser usados para otimizar a experiência do usuário em um outro evento.</p>
<h3>Quais os impactos sociais negativos das tecnologias RFID?</h3>
<p> Além das preocupações com a privacidade e vigilância excessiva que levam a sensação de invasão de privacidade, a tecnologia RFID pode causar a perda de empregos, visto que ela é capaz de automatizar diversos processos logísticos de industrias, armazéns, lojas e supermercados, afetando os trabalhadores que desempenham essas funções. Além disso, a dependência excessiva de uma tecnologia pode tornar os processos e pessoas vulneráveis a falhas e interrupções do sistema, como em casos de falta de energia ou mal funcionamento.</p>
{% endblock %}