{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1> Problemas </h1>
<p>
    Embora o RFID seja uma tecnologia amplamente adotada e tenha várias vantagens, também apresenta alguns
desafios e problemas. Aqui estão alguns dos problemas comuns associados ao RFID:
</p>
<h3>Interferência ecológica:</h3>
<p>
     Alguns materiais, como metais e líquidos, podem interferir na leitura das etiquetas RFID,
afetando a precisão e a eficiência do sistema. Isso pode ocorrer quando as etiquetas estão próximas a objetos
metálicos ou em ambientes com alta umidade, por exemplo.
</p>
<h3>Colisão de sinal:</h3>
<p>
    Quando várias etiquetas RFID estão presentes em uma área de leitura, pode ocorrer colisão de
sinais. Isso acontece quando múltiplas etiquetas respondem simultaneamente ao sinal do leitor, dificultando a leitura
correta de todas as etiquetas. Mecanismos como algoritmos anti-colisão são usados para minimizar esse problema,
mas ainda pode haver casos em que as etiquetas não são lidas corretamente.
</p>
<h2> segurança:</h2>
<p>
     Como o RFID permite a leitura remota das etiquetas, existe a preocupação com a privacidade e a
segurança dos dados. Se as etiquetas não forem adequadamente protegidas e as informações nelas armazenadas
não forem criptografadas, há o risco de acesso não autorizado e roubo de dados.
    É importante notar que muitos desses problemas podem ser mitigados ou resolvidos com o avanço contínuo da
tecnologia RFID e a implementação de práticas adequadas de projeto e configuração do sistema. Cada aplicação de
RFID deve ser cuidadosamente avaliada para identificar e abordar possíveis problemas antes da implantação.
    Sem nenhum tipo de regulação, consumidores podem não saber que seus produtos possuem esses aparelhos e
quais riscos eles podem trazer. Ou mesmo sabendo da presença dessas tags, elas podem ser lidas sem sua
permissão. Sendo assim, é necessário que fique eles conheçam os aparelhos que faz a leitura e quando elas estão
presentes em um produto.
</p>
<h2>Privacidade:</h2>
<p>
     O RFID pode permitir a coleta e o armazenamento de grandes quantidades de dados sobre indivíduos,
como seus padrões de compra, hábitos de deslocamento e atividades pessoais. Isso levanta preocupações legítimas
sobre a privacidade e o uso indevido dessas informações. A coleta e o armazenamento de dados pessoais devem ser
feitos de forma transparente e de acordo com as leis de proteção de dados aplicáveis.
    Com o aumento de eficiência proporcionado pelo uso de RFID, também surgem preocupações relacionadas à
segurança de pessoas e seus dados. As tags são pequenas o suficiente para não serem percebidas pelas pessoas
que as carregam, podem ser lidas por leitores distantes, e tem uma longa durabilidade. Somado a isso, dispositivos
RFID com maior armazenamento podem, além de armazenar o ID relacionado àquele produto, guardar informações
pessoais e sensíveis. Quando se fala da segurança de dispositivos RFID, há o risco dos dados serem escaneados
sem que o dono saiba, ou que alguém leia as frequências emitidas pelo RFID enquanto está sendo escaneado por
um leitor oficial.
    O monitoramento de seres humanos com RFID tem sido usado em crianças, pessoas com doenças mentais
incapacitantes.
    A preocupação com o monitoramento de pessoas está na possibilidade de aumento da espionagem e vigilância nas
relações empregatícias, governo-cidadão e familiares. Podemos escolher colocar ou não chips RFID em pessoas e
animais, mas não há controle sobre os que são colocados em produtos comprados, sendo capazes de observar
hábitos de consumo e dados financeiros. Um dos grandes potenciais usos do RFID é o de substituir código de barras
de produtos para ter um controle mais fácil de estoque,
    Códigos de barras identificam o tipo do produto, mas não cada um individualmente. Com RFID é possível associar
cada produto ao seu produtor, quando foi comprado, sua localização e propriedades como temperatura.
</p>
<h3>Rastreamento e monitoramento excessivo:</h3>
<p>
     O RFID pode ser usado para rastrear e monitorar pessoas ou objetos em
tempo real. Embora isso possa ter benefícios em algumas situações, como segurança ou localização de produtos,
também pode ser visto como uma invasão de privacidade e uma violação dos direitos individuais. É essencial garantir
que o uso do RFID para rastreamento esteja em conformidade com as leis e regulamentações aplicáveis.
</p>
{% endblock %}