{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1> Segurança </h1>
<p>
    Com o aumento de eficiência proporcionado pelo uso de RFID, também surgem preocupações relacionadas à segurança de pessoas e seus dados. As tags são pequenas o suficiente para não serem percebidas pelas pessoas que as carregam, podem ser lidas por leitores distantes, e tem uma longa durabilidade. Somado a isso, dispositivos RFID com maior armazenamento podem, além de armazenar o ID relacionado àquele produto, guardar informações pessoais e sensíveis.
</p>
<p>
    Essa preocupação aumenta ainda mais no caso da chipagem de seres humanos, com a possibilidade do aumento da espionagem e vigilância nas relações empregatícias, governo-cidadão e familiares. Além disso, a tecnologia falha, e não ter acesso a localização de uma criança que usa uma tag RFID, por exemplo, pode gerar pânico em familiares e professores.
</p>
<p>
    Além disso, é possível escolher colocar ou não chips RFID em pessoas e animais, mas não há controle sobre os que são colocados em produtos comprados, que podem ser capazes de observar hábitos de consumo e dados financeiros. Nos Estados Unidos, tribunais de divórcio já usaram informações armazenadas em transponders de rodovias para descobrir para onde os parceiros tinham viajado (Wood, 2004), e alguns cassinos passaram a colocar etiquetas RFID em fichas de aposta para estudar o comportamento dos jogadores e prevenir trapaças.
</p>
<p>
    Sem nenhum tipo de regulação, consumidores podem não saber que seus produtos possuem esses aparelhos e quais riscos eles podem trazer. Ou mesmo sabendo da presença dessas tags, elas podem ser lidas sem sua permissão. Sendo assim, é necessário que eles conheçam os aparelhos que fazem a leitura e quando as etiquetas estão presentes em um produto.
</p>
<p>
    No caso de dados mais sensíveis, como os presentes em passaportes e documentos, a criptografia dos dados é uma medida essencial de proteção para garantir que apenas pessoas autorizadas tenham acesso a eles. Tornar obrigatório que haja contato físico entre as máquinas leitoras e os documentos também dificulta o acesso à distância de pessoas não autorizadas enquanto a leitura é feita.
</p>
<p>
    Uma solução que surgiu para proteger os cartões com chips RFID são carteiras cujo interior é feito de fibras de carbono ou de alumínio, que bloqueiam a passagem das ondas de radiofrequência. Envolver o interior da carteira com papel alumínio também gera o mesmo efeito.
</p>

{% endblock %}