{% extends 'base.html' %}

{% block title %} Pagina inicial {% endblock %}

{% block content %}
<h1> Tipos </h1>
<p>
    Os sistemas de RFID também podem ser definidos pela faixa de frequência em que operam:
</p>
<h3>Sistemas de Média e Alta Frequência:</h3>
<p>
    Para curta distância de leitura e baixos custos.
Normalmente utilizado para controle de acesso, localização e identificação.
</p>
<h3>
    Sistemas de Ultra Alta Frequência ):
</h3>
<p>
     Para leitura em médias ou longas distâncias e leituras em
alta velocidade. Normalmente utilizados para leitura de tags em veículos ou recolha automática de
dados numa sequência de objectos em movimento. Um exemplo de aplicação é a via verde,
sistema de pagamento electrónico da BRISA, Auto-estradas de Portugal.
</p>
{% endblock %}